@import './embla.css';

/* CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    --theme-hue: 187;

    /* color variables */
    --true-white: white;
    --true-black: black;
    --near-black: hsl(var(--theme-hue), 43%, 4%);
    --near-white: hsl(var(--theme-hue), 62%, 96%);

    --gray-lighter: hsl(0, 0%, 52%);
    --gray-primary: hsl(0, 0%, 26%);
    --gray-darker: hsl(0, 0%, 16%);

    --teal-darkest: hsl(var(--theme-hue), 43%, 24%);
    --teal-darker: hsl(var(--theme-hue), 43%, 31%);
    --teal-primary: hsl(var(--theme-hue), 64%, 38%);
    --teal-lighter: hsl(var(--theme-hue), 43%, 79%);
    --teal-lightest: hsl(var(--theme-hue), 66%, 92%);

    --text-color-richer: var(--teal-darker);
    --text-color-normal: var(--gray-primary);
    --text-color-softer: var(--teal-lighter);

    --success-hue: 153;
    --success: hsl(var(--success-hue), 23%, 32%);
    --success-light: hsl(var(--success-hue), 23%, 88%);

    --error-hue: 0;
    --error: hsl(var(--error-hue), 74%, 40%);
    --error-light: hsl(var(--error-hue), 74%, 88%);

    /* font and iconography variables */
    --fontSizeL4: 3rem;
    --fontSizeL3: 2.5rem;
    --fontSizeL2: 2rem;
    --fontSizeL1: 1.5rem;
    --fontSizeBase: 1.15rem;
    --fontSizeS1: 1rem;

    --fontSizeL4Mobile: 1.75rem;
    --fontSizeL3Mobile: 1.5rem;
    --fontSizeL2Mobile: 1.25rem;
    --fontSizeL1Mobile: 1.15rem;
    --fontSizeBaseMobile: 1rem;
    --fontSizeS1Mobile: 0.85rem;

    --iconSizeL4: 4rem;
    --iconSizeL3: 3rem;
    --iconSizeL2: 2rem;
    --iconSizeL1: 1.5rem;
    --iconSizeBase: 1.25rem;
    --iconSizeS1: 1rem;
    --iconSizeS2: 0.75rem;

    /* scrollbar style variables */
    --sb-track-color: var(--teal-lightest);
    --sb-thumb-color: var(--gray-lighter);
    --sb-size: 8px;
}

* {
    font-family: 'Solway', serif;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-container {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    gap: 20px;

    /* by default use min 200px wide columns auto-fit into width */
    grid-template-columns: minmax(200px, 1fr);
}

.hero-gradient {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-gradient .main-logo {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    max-width: min(35%, 500px);
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
        hue-rotate(127deg) brightness(104%) contrast(101%);
}

.hero-gradient img {
    display: block;
}

.hero-gradient::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 40%,
        var(--gray-darker) 100%
    );
    opacity: 0.85;
    z-index: 10;
}

.hero-grid-right {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
    max-width: 100%;
}

@media (max-width: 600px) {
    .hero-grid-right {
        grid-template-columns: 1fr;
    }
    .overlay-left-mobile {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        background-color: transparent !important;
        > h1 {
            padding: 0.5rem 0.25rem !important;
            color: var(--true-white) !important;
            font-size: var(--fontSizeL4Mobile) !important;
        }
    }
}
/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
    .grid-container {
        max-width: 100vw;
        padding: 0.5rem;
    }

    .grid-container.halves {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container.full {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 599px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Flex
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flex {
    display: flex;
    padding: 0.25rem 0.5rem;
}

.flex-row {
    flex-flow: row nowrap;
    gap: 1rem;
}

.flex-column {
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.fc-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.fr-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fr-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.fr-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Solway', serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--text-color-normal);
    background-color: var(--near-white);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

header {
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0 !important;
    max-width: 100%;
    min-height: 46px;
    color: var(--teal-lightest);
    background-color: var(--teal-primary);
    font-size: var(--fontSizeL1);

    .nav-list {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.5rem;
        justify-content: flex-start;
        align-items: center;
        padding: 0.25rem;
    }

    @media screen and (max-width: 600px) {
        .nav-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .nav-item {
        &:hover {
            color: var(--teal-lightest);
            border-bottom: 1px solid var(--teal-lightest);
        }
    }
    .nav-item.current {
        font-weight: 500;
        color: var(--true-white);
        border-bottom: 2px solid var(--true-white);
    }

    .nav-icon {
        font-size: var(--iconSizeL2);
    }
}

footer {
    font-size: var(--fontSizeS1);
    max-width: 100%;
    color: var(--true-white);
    background-color: var(--teal-primary);
    margin-top: auto;

    .nav-icon {
        color: var(--near-white);
        font-size: var(--iconSizeL1);
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    line-height: 1.2;
    margin: 0.75rem 0;
}

h2 {
    line-height: 1.25;
    margin: 0.25rem 0;
}

p {
    max-width: 75ch;
    margin-top: 0;
}

.h1-primary {
    font-size: var(--fontSizeL3);
}
.h1-accent {
    font-family: 'Shadows Into Light Two', serif;
    font-size: var(--fontSizeL4);
    color: var(--teal-darkest);
    padding: 0 2rem;
}

.h2-primary {
    font-size: var(--fontSizeL1);
    margin: 1rem;
}

.h2-card {
    font-size: var(--fontSizeL2);
    color: var(--teal-darkest);
    font-weight: 500;
    text-align: center;
    padding-top: 0.5rem;
    margin: 0;
}

.h2-accent {
    font-family: 'Shadows Into Light Two', serif;
    font-size: var(--fontSizeL2);
    color: var(--teal-darkest);
}

.h3-primary {
    padding: 0;
    padding-top: 0.2s5rem;
    margin: 0;
    font-size: var(--fontSizeL1);
}

.h3-accent {
    font-family: 'Shadows Into Light Two', serif;
    color: var(--teal-darker);
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.copy-primary {
    margin: 0 auto;
    font-size: var(--fontSizeBase);
}
.copy-accent {
    font-size: var(--fontSizeBase);
    color: var(--teal-darker);
    font-weight: 500;
    margin: 0;
}

.copy-small {
    font-size: var(--fontSizeS1);
    line-height: 1.15;
}

@media screen and (max-width: 600px) {
    .h1-primary {
        font-size: var(--fontSizeL3Mobile);
    }
    .h1-accent {
        font-size: var(--fontSizeL4Mobile);
    }

    .h2-primary {
        font-size: var(--fontSizeL1Mobile);
    }

    .h2-card {
        font-size: var(--fontSizeL2Mobile);
    }

    .h2-accent {
        font-size: var(--fontSizeL2Mobile);
    }

    .h3-primary {
        font-size: var(--fontSizeL1Mobile);
    }

    .copy-primary {
        margin: 0 auto;
        font-size: var(--fontSizeBaseMobile);
    }
    .copy-accent {
        font-size: var(--fontSizeBaseMobile);
    }

    .copy-small {
        font-size: var(--fontSizeS1Mobile);
    }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-hover);
}

/* Form / Button Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    max-width: 80vw;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
    transition: background-color 0.5s ease;
    display: inline-block;
    text-align: center;
    font-size: var(--fontSizeBase);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem 0.75rem;
}

input[type='email'] {
    transition: background-color 0.5s ease;
    display: inline-block;
    font-size: var(--fontSizeBase);
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    border: 1px solid var(--gray-lighter);

    &:focus {
        outline: none;
        border: 2px solid var(--teal-primary);
    }
}

.button-primary {
    color: var(--true-white);
    background-color: var(--teal-primary);
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.button-primary:hover,
.button-primary:focus,
.button-primary:active {
    background-color: var(--teal-darkest);
}

.button-primary.disabled,
.button-primary:disabled {
    color: var(--gray-lighter);
    background-color: transparent;
    border: 1px solid var(--gray-lighter);
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-vw80 {
    width: 80vw;
}

.u-centerText {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }

    .u-centerOnMobile {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media screen and (min-width: 600px) {
    .hide-on-large {
        display: none;
    }
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: '';
    display: table;
    clear: both;
}

/* Custom classes 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    max-height: 350px;
    aspect-ratio: 3/2;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    h1 {
        z-index: 2;
        transition: color 0.5s ease;
    }

    &:hover,
    &:active {
        color: var(--near-white);
    }
}

.grid-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--teal-darker);
    transition: width 0.5s ease;
    z-index: 1;
}

.grid-link:hover::before {
    width: 100%;
}

.grid-link:hover {
    color: var(--near-white);
}

.calendar {
    border-width: 0;
    width: 100%;
    height: 70%;
    aspect-ratio: 3/5;
}

.popUpMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popUp {
    height: fit-content;
    max-height: 80vh;
    min-width: 70vw;
    aspect-ratio: 3/4;
    background-color: var(--near-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 101;
}

.text-card {
    > h1 {
        font-family: 'Shadows Into Light Two', serif;
        color: var(--teal-lightest);
        font-size: clamp(1rem, 3.25vw, 3rem);
        letter-spacing: 0.15rem;
        margin: 0;
        padding: 0.5rem 2rem;
    }
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-self: stretch;
    text-align: left;
    background-color: var(--teal-primary);
    padding: 1rem;
    border-radius: 10px;
}

.text-card-light {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    max-width: 80vw;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--true-white);
    padding: 0 1rem 1rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0 var(--gray-lighter);
}

.sign-up {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 1rem;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem 0;
    transition: all 0.5s ease;
    max-width: 50vw;
    text-align: center;
    border-radius: 8px;
    > p {
        font-size: var(--fontSizeS1);
        font-weight: 500;
        margin: 0;
        line-height: 1;
    }
}

.sign-up.loading {
    color: var(--teal-darker);
    background-color: var(--teal-lightest);
    border: 1px solid var(--teal-darker);
}

.sign-up.success {
    color: var(--success);
    background-color: var(--success-light);
    border: 1px solid var(--success);
}

.sign-up.error {
    color: var(--error);
    background-color: var(--error-light);
    border: 1px solid var(--error);
}

/* Image Carousel
-------------------------------------------------- */

.board-member-card {
    display: flex;
    flex-flow: column nowrap;
    min-width: 150px;
    max-width: 400px;
    padding: 0.5rem 1rem;
}

.caretButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--teal-primary);
    font-size: var(--iconSizeL3);
    padding: 0.25rem 0.5rem;
    margin: auto !important;
    transition: color 0.5s ease;

    &:hover {
        background-color: var(--teal-lightest) !important;
        color: var(--teal-darkest) !important;
    }
    &:focus {
        background-color: var(--teal-lightest) !important;
        color: var(--teal-darkest) !important;
    }

    &:active {
        background-color: var(--teal-lightest) !important;
        color: var(--teal-darkest) !important;
    }
}

/* Image classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-link.about {
    background-image: url(../images/home_about.png);
}

.grid-link.community {
    background-image: url(../images/home_commnunity.png);
}

.grid-link.events {
    background-image: url(../images/home_events.png);
}

.grid-link.merch {
    background-image: url(../images/home_merch.png);
}
