/* CSS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    --theme-hue: 187;

    /* color variables */
    --true-white: white;
    --true-black: black;
    --near-black: hsl(var(--theme-hue), 43%, 4%);
    --near-white: hsl(var(--theme-hue), 62%, 96%);

    --gray-lighter: hsl(0, 0%, 52%);
    --gray-primary: hsl(0, 0%, 26%);
    --gray-darker: hsl(0, 0%, 16%);

    --teal-darkest: hsl(var(--theme-hue), 43%, 24%);
    --teal-darker: hsl(var(--theme-hue), 43%, 31%);
    --teal-primary: hsl(var(--theme-hue), 64%, 38%);
    --teal-lighter: hsl(var(--theme-hue), 43%, 79%);
    --teal-lightest: hsl(var(--theme-hue), 66%, 92%);

    --text-color-richer: var(--teal-darker);
    --text-color-normal: var(--gray-primary);
    --text-color-softer: var(--teal-lighter);

    /* font and iconography variables */
    --fontSizeL4: 3.5rem;
    --fontSizeL3: 2.75rem;
    --fontSizeL2: 2.25rem;
    --fontSizeL1: 1.5rem;
    --fontSizeBase: 1.25rem;
    --fontSizeS1: 1rem;

    --iconSizeL4: 4rem;
    --iconSizeL3: 3rem;
    --iconSizeL2: 2rem;
    --iconSizeL1: 1.5rem;
    --iconSizeBase: 1.25rem;
    --iconSizeS1: 1rem;
    --iconSizeS2: 0.75rem;

    /* scrollbar style variables */
    --sb-track-color: var(--teal-lighter);
    --sb-thumb-color: var(--teal-primary);
    --sb-size: 8px;
}

* {
    font-family: 'Solway', serif;
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.grid-container {
    position: relative;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    gap: 20px;

    /* by default use min 200px wide columns auto-fit into width */
    grid-template-columns: minmax(200px, 1fr);
}

/* grids to 3 columns above mobile sizes */
@media (min-width: 600px) {
    .grid-container {
        max-width: 100%;
        grid-template-columns: repeat(3, 1fr);
        padding: 0.5rem;
    }

    /* basic grids */
    .grid-container.fifths {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid-container.quarters {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-container.thirds {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container.halves {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-container.full {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 599px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Flex
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flex {
    display: flex;
    padding: 0.25rem 0.5rem;
}

.flex-row {
    flex-flow: row nowrap;
    gap: 1rem;
}

.flex-column {
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.fc-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.fr-start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fr-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.fr-end {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.gap-2 {
    gap: 2rem;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Solway', serif;
    font-weight: 300;
    line-height: 1.6;
    color: var(--text-color-normal);
    background-color: var(--near-white);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

header {
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 100;
    margin: 0 !important;
    max-width: 100%;
    min-height: 46px;
    color: var(--teal-lightest);
    background-color: var(--teal-primary);
    font-size: var(--fontSizeL1);

    .nav-item {
        &:hover {
            color: var(--teal-lightest);
            border-bottom: 1px solid var(--teal-lightest);
        }
    }
    .nav-item.current {
        font-weight: 500;
        color: var(--true-white);
        border-bottom: 2px solid var(--true-white);
    }

    .nav-icon {
        font-size: var(--iconSizeL2);
    }
}

footer {
    font-size: var(--fontSizeS1);
    max-width: 100%;
    color: var(--true-white);
    background-color: var(--teal-primary);
    margin-top: auto;

    .nav-icon {
        color: var(--near-white);
        font-size: var(--iconSizeL1);
    }
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
    line-height: 1.2;
}

h2 {
    line-height: 1.25;
}

p {
    max-width: 75ch;
    margin-top: 0;
}

.h1-primary {
    font-size: var(--fontSizeL3);
}
.h1-accent {
    font-family: 'Shadows Into Light Two', serif;
    font-size: var(--fontSizeL4);
    color: var(--teal-darkest);
    padding: 0 2rem;
}

.h2-primary {
    font-size: var(--fontSizeL1);
}
.h2-bold {
    font-size: var(--fontSizeL1);
    font-weight: 500;
}
.h2-accent {
    font-family: 'Shadows Into Light Two', serif;
    font-size: var(--fontSizeL2);
    color: var(--teal-darkest);
}

.copy-primary {
    margin: 0 auto;
    font-size: var(--fontSizeBase);
}
.copy-accent {
    font-size: var(--fontSizeBase);
    color: var(--teal-darker);
    font-weight: 500;
}

.copy-small {
    font-size: var(--fontSizeS1);
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--accent-color);
}

a:hover {
    color: var(--accent-color-hover);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
    transition: background-color 0.5s ease;
    display: inline-block;
    text-align: center;
    font-size: var(--fontSizeBase);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 0.5rem 0.75rem;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
    color: var(--true-white);
    background-color: var(--teal-primary);
}

.button.button-secondary,
button.button-secondary,
input[type='submit'].button-secondary,
input[type='reset'].button-secondary,
input[type='button'].button-secondary {
    color: var(--teal-darker);
    background-color: var(--teal-lightest);
}

.button:hover,
button:hover,
.button:active,
button:active,
input[type='submit']:hover,
input[type='submit']:active,
input[type='reset']:hover,
input[type='reset']:active,
input[type='button']:hover,
input[type='button']:active,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
    background-color: var(--teal-darkest);
}

.button.disabled,
button.button.disabled,
input[type='submit'].button.disabled,
input[type='reset'].button.disabled,
input[type='button'].button.disabled {
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-background-color);
    border-color: var(--button-disabled-border-color);
    cursor: not-allowed;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-vw80 {
    width: 80vw;
}

@media screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .hide-on-large {
        display: none;
    }
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: '';
    display: table;
    clear: both;
}

/* Custom classes 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.grid-link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    max-height: 350px;
    aspect-ratio: 3/2;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;

    h1 {
        z-index: 2;
        transition: color 0.5s ease;
    }

    &:hover,
    &:active {
        color: var(--near-white);
    }
}

.grid-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--teal-darker);
    transition: width 0.5s ease;
    z-index: 1;
}

.grid-link:hover::before {
    width: 100%;
}

.grid-link:hover {
    color: var(--near-white);
}

.calendar {
    border-width: 0;
    width: 100%;
    height: 70%;
    aspect-ratio: 3/5;
}

.popUpMask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popUp {
    height: fit-content;
    max-height: 80vh;
    min-width: 60vw;
    aspect-ratio: 3/4;
    background-color: var(--near-white);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 101;
}

/* Image classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-logo {
    min-height: 70%;
    margin-left: auto;
    background-image: url(../images/north-shore-vertigals-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 4/3;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%)
        hue-rotate(127deg) brightness(104%) contrast(101%);
}

.home-hero {
    height: min(400px, 40vh);
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/home_banner.png);
    background-position-x: left;
    background-position-y: bottom;
    background-size: cover;
}

.grid-link.about {
    background-image: url(../images/home_about.png);
}

.grid-link.community {
    background-image: url(../images/home_commnunity.png);
}

.grid-link.events {
    background-image: url(../images/home_events.png);
}

.grid-link.merch {
    background-image: url(../images/home_merch.png);
}
/* Temp classes to be deleted
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mock-logo {
    height: 42px;
    width: 42px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--teal-lighter);
}
